---
network:
  version: 2
  renderer: networkd
  
  ethernets:
    enp0s8:
      dhcp4: no
    enp0s9:
      dhcp4: no

  bonds:
    bond0:
      interfaces: [enp0s8, enp0s9]
      addresses: [{{bond_ip}}]
      parameters:
        mode: active-backup
        mii-monitor-interval: 100
        primary: enp0s8
        fail-over-mac-policy: active